---
layout: home
title: Home
---
<div class="container">
    <div class="conteudo">
        <div class="home-posts">
            <h3 class="title is-3 has-text-centered">Trabalhos e posts recentes</h3>

            {% for post in site.posts limit:5 %}
                <div class="post">
                    <h4 class="subtitle">
                        {% if post.projects %} <span class='tag is-danger'>projetos</span> {% else %} <span class='tag is-info'>blog</span> {% endif %}
                        <a href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                            {{ post.title }}
                        </a>
                    </h4>
                </div>
            {% endfor %}

                <h3 class="title is-3 has-text-centered" id="clientes-destaque">Alguns clientes :)</h3>
            
                <div class="columns">
                    <div class="column"></div>
                    <div class="column is-8">
                        <div class="autoplay cliente-logo">
                            <div>
                                <a rel="nofollow" href="https://revistabicicleta.com" onclick="window.open(this.href); return false;">
                                    <img onmouseover="mOver()" onmouseout="mOut()" alt="Revista Bicicleta" data-src="{{ site.url }}/assets/images/clientes/revista-bicicleta.png" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <a rel="nofollow" href="http://www.labbiolabormed.com.br" onclick="window.open(this.href); return false;">
                                    <img onmouseover="mOver()" onmouseout="mOut()" alt="LabBiolabor Med" data-src="{{ site.url }}/assets/images/clientes/labbiolabormed.png" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <a rel="nofollow" href="https://www.aliou.com.br" onclick="window.open(this.href); return false;">
                                    <img onmouseover="mOver()" onmouseout="mOut()" alt="Aliou" data-src="{{ site.url }}/assets/images/clientes/aliou.png" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <a rel="nofollow" href="https://hydrowheel.com.br" onclick="window.open(this.href); return false;">
                                    <img onmouseover="mOver()" onmouseout="mOut()" alt="HydroWheel" data-src="{{ site.url }}/assets/images/clientes/hydrowheel.png" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <a rel="nofollow" href="https://voeifly.com" onclick="window.open(this.href); return false;">
                                    <img onmouseover="mOver()" onmouseout="mOut()" alt="Ifly Serviços Aéreos" data-src="{{ site.url }}/assets/images/clientes/ifly.png" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <a rel="nofollow" href="https://www.gloucos.com.br" onclick="window.open(this.href); return false;">
                                    <img onmouseover="mOver()" onmouseout="mOut()" alt="GLoucos" data-src="{{ site.url }}/assets/images/clientes/gloucos.png" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <a rel="nofollow" href="https://www.kimcrivel.com" onclick="window.open(this.href); return false;">
                                    <img onmouseover="mOver()" onmouseout="mOut()" alt="KimCrível" data-src="{{ site.url }}/assets/images/clientes/kimcrivel.png" class="lazyload" />
                                </a>
                            </div>
                            <div>
                                <a rel="nofollow" href="http://clinicasaudefacil.com.br" onclick="window.open(this.href); return false;">
                                    <img onmouseover="mOver()" onmouseout="mOut()" alt="Clínica Saúde Fácil" data-src="{{ site.url }}/assets/images/clientes/clinica-saude-facil.png" class="lazyload" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column"></div>
                </div>
            
        </div>
    </div>
</div>