<div class="social-links is-flex is-justify-content-center">
    {% if site.workana %}
        <a class="link" title="Workana" href="https://www.workana.com/freelancer/{{ site.workana }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white" data-tooltip="Workana">
                <i class="fas fa-lg fa-circle-notch"></i>
            </span>
        </a>
    {% endif %}

    {% if site.facebook %}
    <a class="link" title="Facebook" href="http://facebook.com/{{ site.facebook }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-facebook-square"></i>
            </span>
    </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" title="Twitter" href="http://twitter.com/{{ site.twitter }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-twitter-square"></i>
            </span>
        </a>
    {% endif %}

    {% if site.google %}
        <a class="link" title="Google+" href="http://plus.google.com/+{{ site.google }}" onclick="window.open(this.href); return false;">
             <span class="icon has-text-white">
                <i class="fab fa-lg fa-google-plus-square"></i>
            </span>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" title="Instagram" href="http://instagram.com/{{ site.instagram }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-instagram"></i>
            </span>
        </a>
    {% endif %}

    {% if site.pinterest %}
        <a class="link" title="Pintrest" href="http://pinterest.com/{{ site.pinterest }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-pinterest-square"></i>
            </span>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" title="LinkedIn" href="http://linkedin.com/in/{{ site.linkedin }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-linkedin"></i>
            </span>
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="link" title="Youtube" href="http://youtube.com/{{ site.youtube }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-youtube"></i>
            </span>
        </a>
    {% endif %}

    {% if site.spotify %}
        <a class="link" title="Spotify" href="https://open.spotify.com/user/{{ site.spotify }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-spotify"></i>
            </span>
        </a>
    {% endif %}

    {% if site.lastfm %}
        <a class="link" title="Last.fm" href="https://last.fm/user/{{ site.lastfm }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-lastfm-square"></i>
            </span>   
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" title="Github" href="https://github.com/{{ site.github }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-github-alt"></i>
            </span>
        </a>
    {% endif %}
    
    {% if site.stackoverflow %}
        <a class="link" title="Stack Overflow" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-stack-overflow"></i>
            </span>
        </a>
    {% endif %}

    {% if site.quora %}
        <a class="link" title="Quora" href="https://www.quora.com/profile/{{ site.quora }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-quora"></i>
            </span>
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="link" title="Reddit" href="https://www.reddit.com/user/{{ site.reddit }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-reddit-square"></i>
            </span>
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="link" title="Medium" href="https://medium.com/@{{ site.medium }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-medium"></i>
            </span>
        </a>
    {% endif %}

    {% if site.vimeo %}
        <a class="link" title="Vimeo" href="https://vimeo.com/{{ site.vimeo }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-vimeo"></i>
            </span>
        </a>
    {% endif %}

    {% if site.lanyrd %}
        <a class="link" title="Lanyrd" href="https://lanyrd.com/{{ site.lanyrd }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white">
                <i class="fab fa-lg fa-linkedin22"></i>
            </span>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" href="mailto:{{ site.email }}" title="E-mail: arii.brandao@gmail.com">
            <span class="icon has-text-white">
                <i class="fas fa-lg fa-envelope"></i>
            </span>
        </a>
    {% endif %}
</div>
