<div class="social-links">
    {% if site.workana %}
        <a class="link" data-title="workana.com/{{ site.workana }}" href="https://www.workana.com/freelancer/{{ site.workana }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Workana">
                <i class="fas fa-lg fa-circle-notch"></i>
            </span>
        </a>
    {% endif %}

    {% if site.facebook %}
    <a class="link" data-title="facebook.com/{{ site.facebook }}" href="http://facebook.com/{{ site.facebook }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Facebook">
                <i class="fab fa-lg fa-facebook-square"></i>
            </span>
    </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="http://twitter.com/{{ site.twitter }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Twitter">
                <i class="fab fa-lg fa-twitter-square"></i>
            </span>
        </a>
    {% endif %}

    {% if site.google %}
        <a class="link" data-title="plus.google.com/+{{ site.google }}" href="http://plus.google.com/+{{ site.google }}" onclick="window.open(this.href); return false;">
             <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Google+">
                <i class="fab fa-lg fa-google-plus-square"></i>
            </span>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="http://instagram.com/{{ site.instagram }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Instagram">
                <i class="fab fa-lg fa-instagram"></i>
            </span>
        </a>
    {% endif %}

    {% if site.pinterest %}
        <a class="link" data-title="pinterest.com/{{ site.pinterest }}" href="http://pinterest.com/{{ site.pinterest }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Pintrest">
                <i class="fab fa-lg fa-pinterest-square"></i>
            </span>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="http://linkedin.com/in/{{ site.linkedin }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="LinkedIn">
                <i class="fab fa-lg fa-linkedin"></i>
            </span>
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="link" data-title="youtube.com/{{ site.youtube }}" href="http://youtube.com/{{ site.youtube }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Youtube">
                <i class="fab fa-lg fa-youtube"></i>
            </span>
        </a>
    {% endif %}

    {% if site.spotify %}
        <a class="link" data-title="open.spotify.com/user/{{ site.spotify }}" href="https://open.spotify.com/user/{{ site.spotify }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Spotify">
                <i class="fab fa-lg fa-spotify"></i>
            </span>
        </a>
    {% endif %}

    {% if site.lastfm %}
        <a class="link" data-title="last.fm/user/{{ site.lastfm }}" href="https://last.fm/user/{{ site.lastfm }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Last.fm">
                <i class="fab fa-lg fa-lastfm-square"></i>
            </span>   
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Github">
                <i class="fab fa-lg fa-github-alt"></i>
            </span>
        </a>
    {% endif %}
    
    {% if site.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Stack Overflow">
                <i class="fab fa-lg fa-stack-overflow"></i>
            </span>
        </a>
    {% endif %}

    {% if site.quora %}
        <a class="link" data-title="quora.com/profile/{{ site.quora }}" href="https://www.quora.com/profile/{{ site.quora }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Quora">
                <i class="fab fa-lg fa-quora"></i>
            </span>
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="link" data-title="reddit.com/user/{{ site.reddit }}" href="https://www.reddit.com/user/{{ site.reddit }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Reddit">
                <i class="fab fa-lg fa-reddit-square"></i>
            </span>
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="link" data-title="medium.com/@{{ site.medium }}" href="https://medium.com/@{{ site.medium }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Medium">
                <i class="fab fa-lg fa-medium"></i>
            </span>
        </a>
    {% endif %}

    {% if site.vimeo %}
        <a class="link" data-title="vimeo.com/{{ site.vimeo }}" href="https://vimeo.com/{{ site.vimeo }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Vimeo">
                <i class="fab fa-lg fa-vimeo"></i>
            </span>
        </a>
    {% endif %}

    {% if site.lanyrd %}
        <a class="link" data-title="lanyrd.com/{{ site.lanyrd }}" href="https://lanyrd.com/{{ site.lanyrd }}" onclick="window.open(this.href); return false;">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="Lanyrd">
                <i class="fab fa-lg fa-linkedin22"></i>
            </span>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            <span class="icon has-text-white tooltip has-tooltip-bottom" data-tooltip="E-mail: arii.brandao@gmail.com">
                <i class="fas fa-lg fa-envelope"></i>
            </span>
        </a>
    {% endif %}
</div>
